Мы создаем расширения для браузера Google Chrome для собственного варианта закладок
когда пишешь код, будь на 100% уверен, что ты не ломаешь ничего существующего.
Это расширение будет использоваться в браузере Google Chrome, но не будет использоваться в google web store.

Если ты определеяешь новую функцию, то обязательно добавь её название строки кода, в которых она работает, название файла, в котором она находится и опиши что она делает в наш файл namefunctions.md. Также обновляй строки кода если дополняешь её. Если эта функция связана с другими функциями, то можешь в скобках указать взаимосвязи названий функций, без подробноого описания.

