.settings-container {
  max-width: 800px;
  margin: 0 auto;
}

.settings-content {
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.settings-section {
  margin-bottom: 2rem;
  padding: 1rem;
  background: var(--bg-secondary);
  border-radius: 8px;
}

.settings-section h2 {
  margin-bottom: 1rem;
  color: var(--text-primary);
  font-size: 18px;
}

.settings-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-buttons .settings-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--bg-primary);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
}

.settings-buttons .settings-button:hover {
  background: var(--bg-hover);
}

.settings-buttons .settings-button img {
  width: 24px;
  height: 24px;
}

.settings-buttons .settings-button span {
  color: var(--text-primary);
  font-size: 14px;
}

.author-section {
  margin-top: auto;
  text-align: center;
  margin-bottom: 20px;
}

.author-info {
  color: var(--text-secondary);
}

/* Стили для ссылки в зависимости от темы */
[data-theme="dark"] .author-info a {
  color: #24ffd0;
  text-decoration: none;
  transition: color 0.2s ease;
}

[data-theme="dark"] .author-info a:hover {
  color: #20e6bc;
  text-decoration: underline;
}

[data-theme="light"] .author-info a {
  color: #ff8a24;
  text-decoration: none;
  transition: color 0.2s ease;
}

[data-theme="light"] .author-info a:hover {
  color: #e67d20;
  text-decoration: underline;
}

/* Стили для кнопки настроек в хедере */
.header-button.settings-button {
  width: 24px;
  height: 24px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.header-button.settings-button img {
  width: 20px;
  height: 20px;
}

/* Стили для активной кнопки настроек */
.settings-active {
  background-color: var(--hover-color);
  cursor: default;
}

.settings-active:hover {
  background-color: var(--hover-color);
}

[data-theme="dark"] .settings-active img {
  filter: grayscale(100%) brightness(0.8);
}

[data-theme="light"] .settings-active img {
  filter: grayscale(100%) brightness(0.3);
}
